# fly.toml app configuration file generated for nitroapp on 2026-02-08T18:42:26-06:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'nitroapp'
primary_region = 'lax'

[build]
  dockerfile = 'Dockerfile'

[deploy]
  strategy = 'rolling'

[env]
  NEXT_TELEMETRY_DISABLED = '1'
  NODE_ENV = 'production'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[services]]
  protocol = 'tcp'
  internal_port = 3000

  [[services.ports]]
    port = 80
    handlers = ['http']
    force_https = true

  [[services.ports]]
    port = 443
    handlers = ['tls', 'http']

  [services.concurrency]
    type = 'connections'
    hard_limit = 1000
    soft_limit = 800

  [[services.tcp_checks]]
    interval = '15s'
    timeout = '10s'
    grace_period = '30s'

[[vm]]
  memory = '256mb'
  cpus = 1
  memory_mb = 256
